.app{
  overflow: hidden;
}
.header {
  height: 120px;
  background-image: linear-gradient(0, #fc6739, #fd3d2c);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
}
.header_narbar-user {
  display: flex;
  align-items: center;
}
.header_narbar-user img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.header_narbar-user span {
  margin-left: 5px;
}

.header__navbar-item,
.header__navbar-item-link {
  text-decoration: none;
  color: var(--white-color);
  display: inline-block;
  font-size: 1.4rem;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgb(255, 255, 255, 0.8);
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-right: 1px solid var(--white-color);
  height: 12px;
  top: 50%;
  left: -9px;
  transform: translateY(-50%);
}
.header__navbar-item--title {
  color: var(--white-color);
}
.header__navbar-icon-link {
  padding: 2px;
  text-decoration: none;
  color: var(--white-color);
}
/* QR CORE */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  top: 150%;
  left: 0;
  padding: 8px;
  border-radius: 4px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 1;
}
.header__qr::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  top: -20px;
}
.header__qr::after {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 12px;
  right: 0;
  top: -20px;
}
.header__qr-img {
  width: 100%;
}

.header__navbar-item-has-qr:hover .header__qr {
  display: block;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
}
.header__qr-download-img {
  height: 15px;
}

/* Notification .*/
.header__noti {
  position: absolute;
  width: 404px;
  top: 150%;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  transform-origin: calc(100% - 20px) top;
  animation: headerNoti ease-in 0.2s;
  display: none;
  z-index: 2;
}
.header__noti::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 9px;
  top: -30px;
}

.header__navbar-item-has-noti:hover .header__noti {
  display: block;
}

.header__noti_header {
  height: 40px;
  background-color: var(--white-color);
}
.header__noti_header h3 {
  color: #999;
  margin: 0 12px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
}

.header__noti_list {
  padding: 0;
}
.header__noti_item:hover {
  background-color: rgba(131, 128, 128, 0.2);
}

.header__noti-link {
  display: flex;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(238, 77, 45, 0.1);
}
.header__noti-img {
  width: 50px;
  object-fit: contain;
}
.header__noti-info {
  margin-left: 12px;
}
.header__noti-name {
  display: block;
  font-size: 1.6rem;
  color: var(--black-color);
  font-weight: 400;
  line-height: 1.8rem;
}
.header__noti-desc {
  display: block;
  font-size: 1.4rem;
  margin-top: 5px;
  color: #666;
}

.header__noti-footer {
  display: flex;
}
.header__noti-footer-btn {
  text-decoration: none;
  color: var(--black-color);
  padding: 14px 16px;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
}

/* Modal */
.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn ease-in 0.5s;
  display: none;
}
.modal__overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  background-color: var(--white-color);
  margin: auto;
  z-index: 1;
  border-radius: 5px;
  animation: scale linear 0.5s;
}
/* Authen */
.auth__form {
  width: 500px;
}

.auth__form--container {
  padding: 0 32px;
}
.auth__form--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth__form--register {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth__form--signin {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.auth__form_input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 14px;
  border: solid 1px var(--border-color);
  border-radius: 2px;
  font-size: 1.2rem;
  outline: none;
}

.auth__form_input:focus {
  border: solid 1px #777;
}

.auth__form--aside {
  margin-top: 20px;
  padding: 0 10px;
  text-align: center;
}
.auth__form--aside p {
  font-size: 1.4rem;
  line-height: 2rem;
}
.auth__form--aside p a {
  text-decoration: none;
  color: var(--primary-color);
}

/* button style */
.auth__form--control {
  margin-top: 80px;
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
}
.btn {
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn.btn-back {
  margin-right: 5px;
}
.btn.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.auth__form--socials {
  margin-top: 24px;
  background-color: #dfdfdf;
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fab {
  font-size: 2rem;
}
.btn--with-icon {
  font-size: 1.3rem;
  padding: 2px 22px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth__form--socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}
.auth__form--socials--google {
  background-color: var(--white-color);
}
.auth__form--socials--label {
  margin-left: 36px;
}
/* Login */
.auth__form--help {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
}
.auth__form--help-link {
  text-decoration: none;
  color: var(--text-color);
}
.auth__form--help-separate {
  color: var(--primary-color);
  margin-right: 15px;
}

/* header with search */
.header__search {
  margin-top: 10px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}


.header__logo {
  width: 200px;
}
.header__logo--img {
  width: 150px;
}
.header__input {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.header__input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__input-wrap input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 1.2rem;
  padding: 0 20px;
}

.header__mobile_search{
  display: none;
}
.header__mobile_search-icon{
  font-size: 2rem;
  color: var(--white-color);
}
.header__input--selection {
  display: flex;
  border-left: 1px solid var(--text-color);
  padding-left: 16px;
  position: relative;
  cursor: pointer;
  animation: fadeIn ease-in 0.4s;
  z-index: 1;
}
.header__input-selection-label {
  font-size: 12px;
  color: var(--text-color);
}
.header__input-selection-icon {
  font-size: 12px;
  color: var(--text-color);
  margin: 0 14px;
}

.header__input-option {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: 125px;
  box-shadow: 0 0 3px #ccc;
  padding-left: 0;
  display: none;
}
.header__input-option-item {
  list-style: none;
  background-color: var(--white-color);
  border-radius: 2px;
  text-align: left;
  padding: 10px 16px;
}
.header__input-option-item span {
  font-size: 1.2rem;
}
.header__input-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 4px 0 12px;
}
.header__input-option::after {
  position: absolute;
  content: "";
  color: red;
  width: 100%;
  height: 40px;
  display: block;
  left: 0;
  top: -10px;
}

.header__input--selection:hover .header__input-option {
  display: block;
}

.header__input-option-item:first-child {
}
.header__input-search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 4px;
}
.header__input-search-btn:hover {
  background-color: #ec593c;
  cursor: pointer;
}
.header__input-search-icon {
  color: var(--white-color);
  font-size: 1.4rem;
}

.header__cart {
  width: 150px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.header__cart--icon {
  color: var(--white-color);
  font-size: 2.2rem;
}
.header__cart_list {
  position: absolute;
  top: calc(100% + 14px);
  right: 40px;
  background-color: var(--white-color);
  width: 400px;
  min-height: 200px;
  border-radius: 2px;
  box-shadow: 0 2px 10px #ccc;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__cart_list span {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 400;
}
.header__cart_list::after {
  content: "";
  position: absolute;
  right: 15px;
  top: -20px;
  border-width: 10px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}
.header__cart:hover .header__cart_list {
  display: block;
}
.header__cart-no-cart {
  display: none;
}
.header__cart-noti {
  position: absolute;
  padding: 2px 8px;
  font-size: 1.2rem;
  border-radius: 15px;
  line-height: 1.4rem;
  background-color: var(--white-color);
  color: var(--primary-color);
  top: -5px;
  right: 45px;
}

/* Search history */
.header__input-history {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 0 3px #666;
  display: none;
  overflow: hidden;
  z-index: 2;
}
.header__input-history h3 {
  margin: 8px 16px;
  font-size: 1.5rem;
  color: gray;
  font-weight: 400;
}
.header__history-list {
  list-style: none;
  font-size: 1.3rem;
  padding-left: 5px;
  margin: 20px 0 0 0;
}
.header__history-item {
  /* height: 34px; */
  padding: 10px 12px;
}
.header__history-item:hover {
  background-color: rgb(190, 190, 190);
}
.header__history-item a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
}
.header__input-wrap input:focus ~ .header__input-history {
  display: block;
}

/* Content */
.content {
  background-color: #f5f5f5;
}
.category {
  background-color: var(--white-color);
  border-radius: 2px;
}
.category__heading {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}
.cartegory__list {
  list-style: none;
  padding-bottom: 8px;
  padding-left: 0px;
}
.cartegory__item-active .cartegory__item-link {
  color: var(--primary-color);
}

.cartegory__item-active .cartegory__item-link::before {
  content: "";
  top: 50%;
  left: 7px;
  position: absolute;
  color: var(--primary-color);
  transform: translateY(-50%);
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.cartegory__item {
}
.cartegory__item-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  position: relative;
  right: 0;
  transition: right linear 0.1s;
}
.cartegory__item-link:hover {
  color: var(--primary-color);
  right: -3px;
}
/* Home sort filter */
.grid__colum-10 {
  margin-top: 17px;
}
.home__filter {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 12px 22px;
  border-radius: 2px;
  margin-top: 16px;
}
.home__filter-label {
  font-size: 1.4rem;
  margin-right: 12px;
}
.btn-default {
  background-color: var(--white-color);
}
.home__filter-btn {
  margin-right: 12px;
  min-width: 100px;
  font-size: 1.4rem;
}
.home__filter-price {
  min-width: 200px;
  height: 36px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  position: relative;
  z-index: 1;
}
.select-input-label {
  font-size: 1.4rem;
}
.select-input-icon {
  font-size: 1.4rem;
}
.select-input-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 28px;
  background-color: var(--white-color);
  padding: 8px 16px;
  border-radius: 2px;
  display: none;
}
.select-input-item {
  list-style: none;
  padding: 10px 0px;
}
.select-input-item-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
}
.select-input-item-link:hover {
  color: var(--primary-color);
}

.home__filter-price:hover .select-input-list {
  display: block;
  animation: fadeIn linear 0.2s;
}

/* Product item */
.product-item {
  margin-top: 10px;
  background-color: var(--white-color);
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
 box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
 transition: transform linear 0.1s;
}
.product-item:hover{
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform:translateY(-1px);
}
.product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-color: var(--white-color);
  background-size: contain;
}
.product-item__name {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.4rem;
  margin: 10px 10px 6px;
  height: 3.5rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-item__price {
  margin-left: 10px;
  font-size: 1.4rem;
  color: var(--primary-color);
}
.product-item__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.product-item__like {
  cursor: pointer;
  font-size: 1.3rem;
}
.product-item__rate {
  font-size: 1rem;
  color: #d5d5d5;
  transform: scale(0.8);
  transform-origin: right;
  margin-left: auto;
  margin-top: -2px;
}
.product-item__rate-gold {
  color: var(--star-gold-color);
}

.product-item__sold {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-left: 5px;
}
.product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 13px 10px 0px;
  padding-bottom: 15px;
}
.product-item__brand {
  font-size: 1.4rem;
  color: #595959;
  font-weight: 400;
}
.product-item__local {
  font-size: 1.4rem;
  color: #595959;
  font-weight: 400;
}
.product-item__favourite {
  position: absolute;
  top:10px;
  left:-4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.2rem;
  padding: 3px 6px;
  border-top-right-radius: 3px;
  border-bottom-right-radius:3px;
}
.product-item__favourite::after{
  content: "";
 position: absolute;
 left: 0;
 bottom: -4px;
 border-top: 5px solid rgb(126, 40, 8);
 border-right:5px solid transparent ;
}
.product-item__favourite-icon {
  font-size: 0.9rem;
  margin:0 4px;
  font-weight: 400;
}
.product-item__safe-off {
  position: absolute;
  right: 0;
  top: 0;
  width:40px;
  height: 36px;
  background-color: rgba(255,212,36,.9);
  text-align: center;
}
.product-item__safe-off::after{
 content: "";
 position: absolute;
 left: 0;
 bottom: -5px;
 border-width:0 20px 5px;
 border-style:solid;
 border-color: transparent rgba(255,212,36,.9) transparent rgba(255,212,36,.9);
}
.product-item__safe-off-percent {
  color:var(--primary-color);
  font-size: 1.3rem;
  font-weight:550;
  line-height: 2rem;
}
.product-item__safe-off-label {
  font-size: 1.3rem;
  text-align: center;
  color:var(--white-color);
}
/* Pagination */
.pagination{
 margin-top: 48px;
 margin-bottom: 32px;
}
.pagination-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pagination-item{
  border-radius: 2px;
 margin:0 8px;
}
.pagination-item-active{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.pagination-item-active:hover{
  background-color: orangered;
}

.pagination-link{
  text-decoration: none;
  min-width: 40px;
  display:block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size:1.8rem;
  font-weight:400;
}
/* Footer */
.footer{
  border-top: 4px solid var(--primary-color);
  padding-top: 16px;
}
.footer__heading{
  font-size:1.4rem;
}
.footer__list{
  padding-left: 0;
  list-style: none;
}
.footer__list-item{

}
.footer__list-item-link{
  text-decoration: none;
  font-size: 1.2rem;
  color:#666;
  padding:8px 0px;
  display: flex;
  align-items: center;
}
.footer__list-item-link:hover{
 color:var(--primary-color);
}
.footer__item-icon{
  font-size: 1.6rem;
  margin-right:8px;
}
.footer__download{
 display: flex;
 align-items: center;
}
.footer__download-img{
  width: 80px;
  object-fit: contain;
  border:1px solid var(--border-color);
}
.footer__download-app{
 margin-left: 16px;
 display: flex;
 flex-direction: column;
 justify-content:center;
}
.footer__download-icon{
  height: 20px;
  margin: 5px 0;
}

.footer_copyright{
  text-align: center;
  font-size: 1.4rem;
  color:var(--text-color);
  padding:10px 0;
}
.header__sort-bar{
    position:fixed;
    height: 46px;
    top:58px;
    background-color:var(--white-color);
    left:0;
    right:0;
    /* display:flex; */
    list-style: none;
    background-color:var(--white-color);
    display:none;
    padding-left: 0;

}
.header__search-checkbox:checked ~ .header__input{
  display: flex;
}
.header__sort-item{
 flex:1;
 align-items: center;
 text-align: center;
line-height:46px;
}
.header__sort-link{
 text-decoration: none;
 font-size:1.4rem;
 color:var(--text-color);
 position: relative;

}
.header__sort-item::before{
  position:absolute;
  content: "";
  top: 50%;
  left: 0;
  height:20px;
  border-left: 1px solid #e5e5e5;
  transform:translateY(-50%);
}
.header__sort-item:first-child .header__sort-link::before{
 display: none;
}

.header__sort-link:hover{
 color:var(--primary-color);
}